<#include "/common/_header.html" />
<#include "/common/_menu.html" />
<#include "/common/_paginate.html" />
<#include "/common/_footer.html" />

<@header>
	<link href="/static/css/style.css" rel="stylesheet">
</@header>

		<@menu/>
		<div class="span12">
			<table class="table">
				<tr>
					<th>Name</th>
					<th>Kind</th>
					<th>Origin</th>
					<th>Edible Part</th>
					<th>Energy</th>
					<th>Water</th>
					<th>Protein</th>
					<th>Fat</th>
					<th>Operations</th>
				</tr>
				<#list page.list as ingredient>
				    <tr>
				        <td>${ingredient.name}</td>
				        <td>${ingredient.kind}</td>
				        <td>${ingredient.origin}</td>
				        <td>${ingredient.edible_part}</td>
				        <td>${ingredient.energy}</td>
				        <td>${ingredient.water}</td>
				        <td>${ingredient.protein}</td>
				        <td>${ingredient.fat}</td>
				        <td><a class="btn btn-info" href="/ingredient/detail?id=${ingredient.sid!}">Details</a></td>
				    </tr>
				</#list>
			</table>
			<@paginate currentPage = page.pageNumber totalPage = page.totalPage actionUrl = "/ingredient/list/" />
		</div>
<@footer />