<#include "/common/_header.html" />
<#include "/common/_menu.html" />
<#include "/common/_footer.html" />
<@header>
	<link href="/static/css/style.css" rel="stylesheet">
</@header>
		<@menu/>
		
		<div class="span12">
			<form class="form-horizontal" id="createForm" name="createForm" action="/signup/save" method="post">
				<div class="control-group">
					<label class="control-label" for="username">用户名</label>
					<div class="controls">
						<input type="text" name="username" id="username" value="${(user.username)!}" />
						<span class="help-inline">${usernameMsg!''}</span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="password">密码</label>
					<div class="controls">
						<input type="password" name="password" id="password" value="${(user.password)!}" />
						<span class="help-inline">${passwordMsg!''}</span>
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<input type="submit" class="btn btn-primary" value="注册" />
					</div>
				</div>
			</form>
		</div>
<@footer/>