<html>
	<head>
		<meta charset="utf-8">
	    <title>Application</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="description" content="">
	    <meta name="author" content="">
	    
	    <link href="/static/css/bootstrap.css" rel="stylesheet">
   		<link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
   		<link href="/static/css/select2.css" rel="stylesheet">
	</head>
	<body>
		<div class="span12">
			<form class="form-horizontal" id="createForm" name="createForm" action="/disease/save" method="post">
				<input type="hidden" id="sid" name="sid" value="${(disease.sid)!}" />
				<div class="control-group">
					<label class="control-label" for="name">名称</label>
					<div class="controls">
						<input type="text" name="name" id="name" value="${(disease.name)!}" />
						<span class="help-inline">${nameMsg!''}</span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="content">类别</label>
					<div class="controls">
						<select class="" name="dept" id="dept" value="${(disease.dept)!}">
							<option value="">请选择</option>
						  <#list dictionaryList as item>
						  	<option <#if (disease.dept)?? && disease.dept==item.code>selected="selected"</#if> value="${item.code}">${item.title}</option>
						  </#list>	
						</select>
						<span class="help-inline">${deptMsg!''}</span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="content">简介</label>
					<div class="controls">
						<textarea rows="10" cols="20" name="summary" id="summary">${(disease.summary)!}</textarea>
						<span class="help-inline">${summaryMsg!''}</span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="content">治疗</label>
					<div class="controls">
						<textarea rows="10" cols="20" name="treatment" id="treatment">${(disease.treatment)!}</textarea>
						<span class="help-inline">${treatmentMsg!''}</span>
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<input type="submit" class="btn btn-primary" value="Save" />
					</div>
				</div>
			</form>
		</div>
	</body>
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/select2.full.js"></script>
	<script type="text/javascript">
	  $('select').select2();
	</script>
</html>