<#include "/common/_header.html" />
<#include "/common/_menu.html" />
<#include "/common/_footer.html" />
<#include "/common/_auth.html" />
<#include "/common/_paginate.html" />
<#include "/common/_translate.html" />
<@header>
	<link href="/static/css/select2.css" rel="stylesheet">
   	<link href="/static/css/style.css" rel="stylesheet">
</@header>
		
		<@menu/>
		
		<div class="span12">
			<@auth role="admin" />
			<#if authResult>
				<div class="text-right">
					<a href="/disease/create" class="btn btn-primary">Create</a>
				</div>
			</#if>
			<form class="form-search" action="/disease/list" method="POST">
				<input type="hidden" name="page" value="${page.pageNumber}">
				<input type="text"  id="name" name="name" value="${name!''}" placeholder="输入名称查询" class="input-medium search-query">
				<button type="submit" class="btn">Search</button>
			</form>
			
			<table class="table">
				<tr>
					<th>Name</th>
					<th>Dept</th>
					<th>Operations</th>
				</tr>
				<#list page.list as disease>
				    <tr>
				        <td>${disease.name}</td>
				        <td><@translate list = dictionaryList key = disease.dept /></td>
				        <td>
				        	<a class="btn btn-info" href="/disease/view/${disease.id}">Detail</a>
				        	<#if authResult>
								| <a class="btn btn-info" href="/disease/modify/${disease.id}">Modify</a>
								| <a class="btn btn-info" href="/principle/show/${disease.id}">Principles</a>
			        			| <a class="btn btn-danger" href="/disease/delete/${disease.id}">Delete</a>
							</#if>	
				        </td>
				    </tr>
				</#list>
			</table>
			<@paginate currentPage = page.pageNumber totalPage = page.totalPage actionUrl = "/disease/list/" urlParas="name="+name />
		</div>
		
<@footer />