<#include "/common/_header.html" />
<#include "/common/_menu.html" />
<#include "/common/_footer.html" />

<@header>
	<link href="/static/css/style.css" rel="stylesheet">
</@header>
		<@menu/>
		
		<div class="span12">
			<form class="form-horizontal" id="createForm" name="createForm" action="/dictionary/saveDict" method="post">
				<input type="hidden" id="kindid" name="kindid" value="${(dictionarykind.id)!}" />
				<input type="hidden" id="id" name="id" value="${(dictionary.id)!}" />
				<div class="control-group">
					<label class="control-label" for="title">标题</label>
					<div class="controls">
						<input type="text" name="title" id="title" value="${(dictionary.title)!}" />
						<span class="help-inline">${titleMsg!''}</span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="code">编码</label>
					<div class="controls">
						<input type="text" name="code" id="code" value="${(dictionary.code)!}" />
						<span class="help-inline">${codeMsg!''}</span>
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<input type="submit" class="btn btn-primary" value="Save" />
					</div>
				</div>
			</form>
		</div>
<@footer/>