<#include "/common/_header.html" />
<#include "/common/_menu.html" />
<#include "/common/_paginate.html" />
<#include "/common/_auth.html" />
<#include "/common/_footer.html" />

<@header>
	<link href="/static/css/style.css" rel="stylesheet">
</@header>

		<@menu/>
		<div class="span12">
			<@auth role="admin" />
			
			<#if authResult>
				<div class="text-right">
					<a href="/dictionary/add/${kindid}" class="btn btn-primary">Create</a>
				</div>
			</#if>
			<table class="table">
				<tr>
					<th>Kind</th>
					<th>Title</th>
					<th>Code</th>
					<th>Operations</th>
				</tr>
				<#list page.list as item>
				    <tr>
				        <td>
				        	<#list dictionaryKindList as _item>
								<#if item.kind == _item.kind>${_item.title}</#if>
							</#list>
				        </td>
				        <td>${(item.title)!}</td>
				        <td>${(item.code)!}</td>
				        <td>
				        	<#if authResult>
				        		<a class="btn btn-info" href="/dictionary/remove/${item.id}">Remove</a>
				        	</#if>
				        </td>
				    </tr>
				</#list>
			</table>
		</div>
		
		<@paginate currentPage = page.pageNumber totalPage = page.totalPage actionUrl = "/dictionary/all/${kindid}?page=" />
<@footer/>