<html>
	<head>
		<meta charset="utf-8">
	    <title>Application</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="description" content="">
	    <meta name="author" content="">
	    
	    <link href="/static/css/bootstrap.css" rel="stylesheet">
   		<link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
   		<link href="/static/css/style.css" rel="stylesheet">
	</head>
	<body>
		<#include "/common/_menu.html" />
		<@menu/>
		<div class="span12">
			<table class="table">
				<tr>
					<th>Kind</th>
					<th>Title</th>
					<th>Code</th>
					<th>Operations</th>
				</tr>
				<#list page.list as item>
				    <tr>
				        <td>${(item.kind)!}</td>
				        <td>${(item.title)!}</td>
				        <td>${(item.code)!}</td>
				        <td>
				        	<a class="btn btn-info" href="/dictionary/remove/${item.id}">Remove</a>
				        </td>
				    </tr>
				</#list>
			</table>
		</div>
		
		<#include "/common/_paginate.html" />
		<@paginate currentPage = page.pageNumber totalPage = page.totalPage actionUrl = "/dictionary/list/" />
	</body>
</html>