<#include "/common/_header.html" />
<#include "/common/_menu.html" />
<#include "/common/_footer.html" />

<@header>
	<link href="/static/css/style.css" rel="stylesheet">
</@header>
		<@menu/>
		
		<div class="span12">
			<form class="form-horizontal" id="viewForm" name="viewForm" action="" method="post">
				<input type="hidden" id="id" name="id" value="${(dictionarykind.id)!}" />
				<div class="control-group">
					<label class="control-label" for="title">标题</label>
					<div class="controls">
						<input type="text" name="title" id="title" value="${(dictionarykind.title)!}" readonly="readonly" />
						<span class="help-inline">${titleMsg!''}</span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="kind">类别</label>
					<div class="controls">
						<input type="text" name="kind" id="kind" value="${(dictionarykind.kind)!}" readonly="readonly" />
						<span class="help-inline">${kindMsg!''}</span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="parentid">父级</label>
					<div class="controls">
						<input type="text" name="parentid" id="parentid" value="${(dictionarykind.parentid)!}" readonly="readonly" />
						<span class="help-inline">${parentidMsg!''}</span>
					</div>
				</div>
			</form>
		</div>
<@footer/>